body{
    background-color: #BDBDBD;
    margin: 0;
    padding: 0;
    max-width: auto;
    font-family: sans-serif;
    
}
div.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: auto; 
    position: sticky;
    left: 0;
    top: 0;
    padding-left: 25rem;
    padding-right: 25rem;
  

}
div.menü{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 7rem;
    padding-right: 1rem;
    width: 80%;
}
a{
    color: black;
    text-decoration: none;
    max-height: 85px;
    font-weight: 700;
}

a.img{
    padding-top: 5px;
    min-height: 79px;
    padding-bottom: 5px;
}

a:hover{
    color: #125BDC;
}
h1{
    color: black;
    font-size: 150px;
}

@media (max-width: 800px;){
    div.header{
    padding-left: 0;
    padding-right: 0;
    }
}